<% socials = [
    { name: :twitter, url: 'https://twitter.com/SAKAMOTO_palm'},
    { name: :facebook, url: '#'},
    { name: :dribbble, url: '#'},
    { name: :vimeo, url: '#'},
    { name: :tumblr, url: '#'},
  ]
%>
<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <ul class="list-inline">
          <%= render partial: 'layouts/headers/topbar/social_link', collection: socials, as: 'social' %>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="list-inline pull-right">
          <li>
            <%= render 'layouts/headers/topbar/login_or_signup' %>
          </li>
          <li class="dropdown searchBox">
            <%= render 'layouts/headers/topbar/searchbox_form' %>
          </li>
          <li class="dropdown">
            <%= render 'layouts/headers/topbar/current_cart' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
