<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>
  <%= current_order.try(:display_total) || '$0' %>
</a>
<ul class="dropdown-menu dropdown-menu-right">
  <% if current_order.nil? || current_order.line_items.empty? %>
    <li>カートに商品はありません</li>
  <% else %>
    <li>カートに商品が <%= current_order.line_items.count %> 点あります</li>
    <%= render partial: 'layouts/headers/topbar/line_item', collection: current_order.line_items %>
    <li>
      <div class="btn-group" role="group" aria-label="...">
        <%= button_tag type: 'button', onclick: "window.location.href='#{potepan_cart_path}'", class: 'btn btn-default' do %>
          カートを見る
        <% end %>
        <button type="button" class="btn btn-default">購入する</button>
      </div>
    </li>
  <% end %>
</ul>
