<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
<ul class="dropdown-menu dropdown-menu-right">
  <li>
    <%= form_tag search_potepan_products_path, enforce_utf8: false, method: :get do %>
    <span class="input-group">
      <span class="input-group-addon">Search</span>
      <%= text_field_tag('keyword', nil, placeholder:'Search...', class: 'form-control', 'aria-describedby' => 'basic-addon2') %>
    </span>
    <% end %>
  </li>
</ul>
