<div class="clearfix">
  <div id="thumbcarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <% if @product.images.any? %>
        <% @product.images.each do |image| %>
        <div data-target="#carousel" data-slide-to="<%= image.position - 1 %>" class="thumb">
          <%= image_tag image.attachment.url(:small) %>
        </div>
        <% end %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
