<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if @product.images.any? %>
      <% @product.images.each_with_index do |image, i| %>
      <div class="item<%= " active" if i == 0  %>" data-thumb="<%= i %>">
        <%= image_tag image.attachment.url(:large) %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
