<% provide(:title, @product.name) %>

<%# LIGHT SECTION %>
<section class="lightSection clearfix pageHeader">
  <%= render partial: 'shared/page_header', locals: { page: @product } %>
</section>

<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <%= render 'slider' %>
            <%= render 'slider_thumb' %>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <%= link_to potepan_taxon_path(@taxonomy.root.id ) do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                <% end %>
              </li>
              <%# <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> %>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.price %></h3>
            <p><%= @product.description %></p>

            <%= render partial: 'shared/form/cart_form', locals: { product: @product }  %>

            <%= render 'tabs' %>

          </div>
        </div>
      </div>
    </div>

    <%# RELATION PRODUCT %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <% if @related_products.any? %>
        <%= render partial: 'shared/grid_item', collection: @related_products, as: :product, locals: { column: 4 } %>
      <% else %>
        <div class="col-xs-12">
          <p>関連する商品がありません。</p>
        </div>
      <% end %>
    </div>

  </div>
</section>
