<div class="row filterArea">

  <div class="col-xs-6">
    <%= form_tag request.path, enforce_utf8: false, method: :get do %>
      <%= hidden_field_tag 'tshirt-size', params['tshirt-size'] if params['tshirt-size'] %>
      <%= hidden_field_tag 'tshirt-color', params['tshirt-color'] if params['tshirt-color'] %>
      <%= hidden_field_tag 'keyword', params['keyword'] if params['keyword'] %>
      <%= hidden_field_tag 'view', params['view'] if params['view'] %>
      <%= select_tag(:sort, options_for_select(@product_filter.sort_select_collection, {selected: params[:sort] || 'newest'}), class: 'select-drop', onchange: 'this.form.submit();') %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <%= content_tag :button, class: "btn btn-default #{@product_filter.list_view? ? '' : 'active'}",
            onclick: "window.location.href='#{url_for(params.permit(*ProductFilter::VALID_PARAMETER).merge(view: 'grid'))}'" do %>
        <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
      <% end %>
      <%= content_tag :button, class: "btn btn-default #{@product_filter.list_view? ? 'active' : ''}",
            onclick: "window.location.href='#{url_for(params.permit(*ProductFilter::VALID_PARAMETER).merge(view: 'list')) }'" do %>
        <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
      <% end %>
    </div>
  </div>
</div>
