<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <%= image_tag list_item.display_image.attachment.url  %>
      <span class="maskingImage"><a data-target="#modal-<%= list_item.id %>" data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to list_item.name , potepan_product_path(list_item.slug) %>
      </h4>
      <p><%= list_item.description %></p>
      <h3><%= list_item.price %></h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <%= content_tag :button, class: "btn btn-default", onclick: "window.location.href='#{potepan_cart_path}'" do %>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/modal/product_quick_view', locals: { product: list_item } %>
