<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="page-title">
        <h2><%= page[:name] || page.name %>
          <% if page[:filter_name] %>
            <span style="margin-left: 8px;">: <%= page[:filter_name] %></span>
          <% elsif page[:keyword] %>
            <span style="margin-left: 8px;">: <%= params[:keyword] %></span>
          <% end %>
        </h2>
      </div>
    </div>
    <div class="col-xs-6">
      <ol class="breadcrumb pull-right">
        <li>
          <%= link_to 'Home', potepan_root_path %>
        </li>
        <li>
          <a href="#">shop</a>
        </li>
        <li class="active"><%= page[:name] || page.name %></li>
      </ol>
    </div>
  </div>
</div>
