<div class="col-md-3 col-sm-4 col-xs-12 sideBar">

  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <% @roots.each do |root| %>
        <ul class="nav navbar-nav side-nav">
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#category-<%= root.id %>"><%= root.name %><i class="fa fa-plus"></i></a>
            <ul id="category-<%= root.id %>" class="collapse collapseItem">
              <li>
                <%= link_to potepan_taxon_path(root.id) do  %>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>ALL <%= root.name %>

                <% end %>
              </li>
              <% root.leaves.each do |child| %>
              <li>
                <%= link_to potepan_taxon_path(child.id) do %>
                  <i class="fa fa-caret-right" aria-hidden="true"></i><%= child.name %> <span>(<%= child.products.count %>)</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>

  <% if false %>
  <div class="panel panel-default priceRange">
    <div class="panel-heading">値段から探す</div>
    <div class="panel-body clearfix">
      <div class="price-slider-inner">
        <span class="amount-wrapper">
          <input type="text" id="price-amount-1" readonly>
          <strong>-</strong>
          <input type="text" id="price-amount-2" readonly>
        </span>
        <div id="price-range"></div>
      </div>
      <input class="btn btn-default" type="submit" value="絞り込む">
      <!-- <span class="priceLabel">Price: <strong>12 円- 30<円/strong></span> -->
    </div>
  </div>
  <% end %>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">Tシャツの色から探す</div>
    <div class="panel-body">
      <%= option_type_filter_menu_by(name: 'tshirt-color') %>
    </div>
  </div>

  <div class="panel panel-default filterNormal">
    <div class="panel-heading">Tシャツのサイズから探す</div>
    <div class="panel-body">
      <%= option_type_filter_menu_by(name: 'tshirt-size') %>
    </div>
  </div>

</div>
