<div class="col-sm-4 col-xs-12">
  <div class="thumbnail" onclick="location.href='<%= potepan_taxon_path(taxon.id) %>';">
    <div class="imageWrapper">
      <%= image_tag("home/featured-collection/featured-collection-#{taxon.name.downcase}.jpg", :alt => "feature-collection-image") %>
      <div class="masking">
        <%= link_to "View #{taxon.name}", potepan_taxon_path(taxon.id), class: 'btn viewBtn' %>
      </div>
    </div>
    <div class="caption">
      <h4><%= taxon.name %></h4>
    </div>
  </div>
</div>
