<div class="slide">
  <div class="productImage clearfix">
    <%= image_tag product.display_image.attachment.url(:large) %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li>
          <%= link_to potepan_cart_path, class: 'btn btn-default' do %>
            <i class="fa fa-shopping-cart"></i>
          <% end %>
        </li>
        <li><a data-target="#modal-<%= product.id %>" data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <%= link_to potepan_product_path(product.slug) do %>
      <h5><%= product.name %></h5>
    <% end %>
    <h3><%= product.price %></h3>
  </div>
</div>
