<%# BANNER %>
<%= render partial: 'banner' %>

<%# MAIN CONTENT SECTION %>
<section class="mainContent clearfix">
  <div class="container">
    <%# FEATURE CATERGORY%>
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <%= render partial: 'feature_category', collection: @feature_categories, as: :taxon %>
    </div>

    <%# FEATURE PRODUCTS %>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <%= render partial: 'latest_products', locals: { latest_products: @latest_products} %>
    </div>

    <%# FEATURE PRODUCTS %>
    <div class="row latestArticles">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>お役立ち記事</h4>
        </div>
      </div>
      <%= render partial: 'latest_articles' %>
    </div>
  </div>
</section>

<%# Partners %>
<%= render 'shared/partners' %>

<%# Modal %>
<% @latest_products.each do |product| %>
  <%= render partial: 'shared/modal/product_quick_view', locals: { product: product } %>
<% end %>
